;
; lprsrv.conf.sample
; Last modified 7 April 2004.
;
; This is a sample security configuration file for the PPR LPR/LPD
; server.  The intent of this sample file is to duplicate as closely
; as possible the traditional behaviour of LPD servers, including the
; use of the access control files:
;
; /etc/hosts.lpd
; /etc/hosts.lpd_deny
; /etc/hosts.equiv
;
; You can use the program lprsrv-test to study the effect of the
; rules in this file.
;
; The settings which will be used for a particular client are arrived at by merging
; the [global] section and one other section.  The names of most sections are rules
; which match hostnames.  The longest match wins.  If no section matches, then the
; [traditional] section (if it exists) is tried and matches if the file named above 
; allow access.  If [traditional] doesn't exist or doesn't match, then the [other]
; section is used.
;

;
; This section sets default values for the other sections.  That is, any
; parameter setting specified here will be overridden if the parameter is set
; in the section which matches the name of the host which is sending the print
; job.  All 10 parameters should be set in this section.
;
; allow
;	Specifies whether access should be allowed to matching nodes.
; insecure ports
;	Specifies whether lprsrv should accept connexions from TCP ports
;	above 1024.  If you set this to "yes", you should not trust the
;	nodes in question to honestly identify the user for whom the request
;	was generated since ordinary users can make their own requests from
;	insecure ports therby bypassing lpr.
; ppr become user
;	Specifies whether lprsrv should run the PPR spooler programs under
;	the user ID specified by the remote node.  If that user doesn't
;	exist then the "ppr proxy user" will be used instead.
; other become user
;	Specifies whether lprsrv should run non-PPR spooler programs under
;	the user ID specified by the remote node.  If that user doesn't
;	exist then the "other proxy user" will be used instead.
; ppr root as
;	The user ID to run PPR spooler programs as when the remote node
;	suggests "root".
; other root as
;	The user ID to run non-PPR spooler programs as when the remote
;	node suggests "root".
; ppr proxy user
;	Specifies the user to run the PPR spooler programs under if
;	"ppr become user" is set to "no" or if the specified user does
;	not exist on this node.
; other proxy user
;	Specifies the user to run non-PPR spooler programs (such as
;	lpr, lp, and lprm) under if "other become user" is set to "no"
;	or if the specified user does not exist on this node.
; ppr proxy class
;	When lprsrv runs ppr or ppop, it uses the -X switch.  The argument
;	for the -X switch is the username supplied by the client, an "@",
;	followed by the proxy class.  You may set the proxy class to any
;	string, or to "$cname".  If you set it to "$cname", then
;	the canonical DNS name of the sending node will appear after the "@".
; ppr user format
;	Format of user name in queue display.  The options are:
;		$user
;			The user name
;		$user@$host
;			User name and host name
;		$user@$proxyclass
;			The user name and proxy class string
;	Note that since the "ppr user format" option uses the ppr -f
;	switch it will only be effective when ppr is executed by a proxy
;	user which is listed in /etc/ppr/acl/pprprox.allow.
; force mail
;   Always send e-mail on job completion as if the user had used lpr's
;   -m option.
;
[global]
allow = yes
insecure ports = no
ppr become user = no
other become user = no
ppr root as = ppr
other root as = root
ppr proxy user = ppr
other proxy user = nobody
ppr proxy class = $cname
ppr user format = $user@$host
force mail = no

;
; This section applies to nodes which are granted access by /etc/hosts.lpd,
; /etc/hosts.lpd_deny, and /etc/hosts.equiv.  However, this section does not
; apply if some other section also matches the sending node name.
;
; The "ppr become user = yes" and "other become user = yes" indicate that, if 
; the user specified by the remote system exists on this system, the spooler
; programs should be run under that user ID.
;
[traditional]
ppr become user = yes
other become user = yes
ppr proxy class = equivalent
ppr user format = $user

;
; This section matches all nodes in a certain NIS netgroup.  Any section which
; explicitly specifies a matching hostname or domain will take precedence over
; this section.
;
;[@mynetgroup]
;ppr become user = yes
;other become user = yes
;ppr proxy class = mynetgroup
;ppr user format = $user

;
; This section applies to all hosts which match any of the pattens listed in 
; the file /etc/desktop_lpr_hosts.  It can be overridden by a matching section
; in this file just like netgroups can.
;
;[/etc/desktop_lpr_hosts]
;insecure ports = yes

;
; This section matches all nodes in a certain domain.  Notice that 
; "proxy class =" is used to indicate that a user with a given name should be
; considered to be the same no matter which of these nodes he is connecting
; from.  For example, the principal identifier (-X switch argument) for 
; "smith" connecting from "spock.cs.domain.org" will be 
; "smith@cs.domain.org".  If he is connecting from "bashir.cs.domain.org"
; it will still be "smith@cs.domain.org".  Thus he will be able, from Bashir,
; to cancel a job he submitted from Spock.
;
;[.cs.domain.org]
;ppr become user = yes
;other become user = yes
;ppr proxy class = cs.domain.org
;ppr user format = $user

;
; This section applies to a specific host.  Since this section
; is empty, it simply allows access under the terms of [global].
;
;[shakti.cc.domain.org]

;
; This section applies to sending nodes which do not match any of the other\
; sections including [traditional].
;
; In this example, we lock out nodes of this class by setting "allow = no".
;
[other]
allow = no
insecure ports = yes
ppr become user = no
other become user = no
ppr proxy user = nobody
other proxy user = nobody

; end of file

