#
# mouse:~ppr/src/ppad/media.sample
#
# This file describes common printing media.  During PPR's installation
# it is imported with the command:
#   ppad import media.sample
#

# White paper in various sizes and weights:
ppad media put "letter" "8.5 in" "11.0 in" 75.0 "white" "" 7
ppad media put "master" "8.5 in" "11.0 in" 300.0 "white" "" 2
ppad media put "legal" "8.5 in" "14 in" 75.0 "white" "" 5

# Junk paper for banner pages
# The colour field value "VARIES" is there for a reason.  We don't want
# it every selected as a match for some real media requirement.
ppad media put "banner" "612.0 psu" "792.0 psu" 0 "VARIES" "" 10

# other stuff
ppad media put "3hole" "612.0 psu" "792.0 psu" 0.0 "white" "3Hole" 6
ppad media put "labels" "612.0 psu" "792.0 psu" 0.0 "white" "Labels" 1

# envelopes
ppad media put "comm10" "297.0 psu" "684.0 psu" 0.0 "white" "Envelope" 1
ppad media put "monarch" "540.0 psu" "279.0 psu" 0.0 "white" "Envelope" 1

# normal paper of various colours
ppad media put "yellow" "612.0 psu" "792.0 psu" 75.0 "yellow" "" 5
ppad media put "red" "612.0 psu" "792.0 psu" 75.0 "yellow" "" 5
ppad media put "blue" "612.0 psu" "792.0 psu" 75.0 "yellow" "" 5
ppad media put "green" "612.0 psu" "792.0 psu" 75.0 "yellow" "" 5
ppad media put "pink" "612.0 psu" "792.0 psu" 75.0 "yellow" "" 5

# various kinds of letterhead
ppad media put "letterhead" "612.0 psu" "792.0 psu" 0.0 "white" "DeptLetterHead" 3
ppad media put "custletterhead" "612.0 psu" "792.0 psu" 0.0 "white" "CustLetterHead" 3
ppad media put "userletterhead" "612.0 psu" "792.0 psu" 0.0 "white" "UserLetterHead" 3
ppad media put "halfletterhead" "396.0 psu" "612.0 psu" 0.0 "white" "CustLetterHead" 3
ppad media put "executivelethead" "522.0 psu" "756.0 psu" 0.0 "white" "DeptLetterHead" 3

# Simple white paper which meets the german "DIN A"
ppad media put "a0" "841 mm" "1189 mm" 75.0 "white" "" 4
ppad media put "a1" "595 mm" "841 mm" 75.0 "white" "" 5
ppad media put "a2" "420 mm" "595 mm" 75.0 "white" "" 5
ppad media put "a3" "297 mm" "420 mm" 75.0 "white" "" 6
ppad media put "a4" "210 mm" "297 mm" 75.0 "white" "" 7
ppad media put "a5" "149 mm" "210 mm" 75.0 "white" "" 6
ppad media put "a6" "105 mm" "149 mm" 75.0 "white" "" 5
ppad media put "a7" "74 mm" "105 mm" 75.0 "white" "" 5
ppad media put "a8" "53 mm" "74 mm" 75.0 "white" "" 4

# Simple white paper which meets the german "DIN B"
ppad media put "b0" "1000 mm" "1414 mm" 75.0 "white" "" 4
ppad media put "b1" "707 mm" "1000 mm" 75.0 "white" "" 5
ppad media put "b2" "500 mm" "707 mm" 75.0 "white" "" 5
ppad media put "b3" "353 mm" "500 mm" 75.0 "white" "" 6
ppad media put "b4" "250 mm" "353 mm" 75.0 "white" "" 7
ppad media put "b5" "176 mm" "250 mm" 75.0 "white" "" 6
ppad media put "b6" "125 mm" "176 mm" 75.0 "white" "" 5
ppad media put "b7" "88 mm" "125 mm" 75.0 "white" "" 5
ppad media put "b8" "62 mm" "88 mm" 75.0 "white" "" 4

# Simple white paper which meets the german "DIN C"
ppad media put "c0" "917 mm" "1297 mm" 75.0 "white" "" 4
ppad media put "c1" "648 mm" "917 mm" 75.0 "white" "" 5
ppad media put "c2" "458 mm" "647 mm" 75.0 "white" "" 5
ppad media put "c3" "324 mm" "458 mm" 75.0 "white" "" 6
ppad media put "c4" "229 mm" "324 mm" 75.0 "white" "" 7
ppad media put "lang" "220 mm" "110 mm" 75.0 "white" "" 7
ppad media put "c5" "162 mm" "229 mm" 75.0 "white" "" 6
ppad media put "c6" "114 mm" "162 mm" 75.0 "white" "" 5
ppad media put "c7" "81 mm" "114 mm" 75.0 "white" "" 5
ppad media put "c8" "57 mm" "81 mm" 75.0 "white" "" 4

# end of file
