/*
** mouse:~ppr/src/www/cgi_tabbed.css
** Last modified 24 April 2002.
*/

BODY {	background: #C0C0C0;
	color: black;
	}

/* Button for visible pane. */
INPUT.tabactive,BUTTON.tabactive {
	font-size: 8pt;
	font-weight: bold;
	background: beige;
	margin: 0pt;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #000000 black beige #000000;
	-moz-border-radius: 1mm 1mm 0mm 0mm;
	}

/* Buttons for concealed panes. */
INPUT.tabinactive,BUTTON.tabinactive {
	font-size: 8pt;
	font-weight: normal;
	background: beige;
	margin: 0pt;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #000000 black #000000 #000000;
	-moz-border-radius: 1mm 1mm 0mm 0mm;
	}

/* In Mozilla (at least up to 1.0rc1) these settings of <button>
   are incompatible with <input type="button">. */
BUTTON {
	padding: 0pt 5pt 0pt 5pt;
	vertical-align: sub;
	}

/* This is for the help button. */
SPAN.button {
	background: #b0b0b0;
	border: 2px solid;
	border-color: #f0f0f0 #808080 #808080 #f0f0f0;
	padding: 3px 2mm 3px 2mm;
	margin: 1mm;
	}
SPAN.button A {
	text-decoration: none;
	font-family: sans-serif;
	color: black;
	}

/* Tables of this class form the background for tabbed dialog boxes. */
TABLE.tabpage {
	background: beige;
	margin: 0;
	border-style: solid;
	border-color: black black black #000000;
	border-width: 0px 1px 1px 1px;
	}

TABLE.tabpage TD {
	font-size: 10pt;
	font-weight: normal;
	font-family: times,serif;	/* IE 5.5 prior to SP1 manges serif */
	}

TABLE.tabpage P {
	margin-top: 0pt;
	margin-bottom: 5pt;
	}

/* Text input fields. */
INPUT {
	background: white;
	font-weight: normal;
	}

/* Buttons that are supposed to look like buttons. */
INPUT.buttons,BUTTON.buttons {
	background: #b0b0b0;
	}

/* This is for error messages. */
SPAN.alert { color: blue }

/* This is for form field labels. */
SPAN.label {
	font-weight: bold;
	}

/* This is for value which should like like form text
   fields but aren't.
   */
SPAN.value {
	font-weight: normal;
	font-size: 12pt;
	font-family: sans-serif;
	background: white;
	border-style: solid;
	border-width: thin;
	border-color: black;
	padding: 1pt 2pt 1pt 2pt;
	}

TEXTAREA {
	font-size: 10pt;
	font-family: sans-serif;
	}

/* A DIV and SPAN of class "section" are used to enclose controls
   in a labeled box.
   */
DIV.section {
	border: thin solid black;
	padding: 10pt;
	margin-bottom: 10pt;
	}
SPAN.section {
	position: relative;
	top: -1.5em;
	right: 0pt;
	background: beige;
	border-width: 0.5pt;
	border-style: solid;
	padding-left: 1ex;  
	padding-right: 1ex; 
	}

TABLE.section TD {
	padding-right: 10pt;
	text-align: left;
	vertical-align: top;
	}

/* This is for real tables with fine rules. */
TABLE.lines {
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	padding: 2px;
	}
TABLE.lines TH, TABLE.lines TD {
	white-space: nowrap;
	text-align: 1px;
	padding: 3pt;
	border-width: thin;
	border-style: solid;
	border-color: black;
	}

/* end of file */
