/*
** mouse:~ppr/src/www/cgi_tabbed.css
** Last modified 8 August 2003.
*/

BODY {
	background-color: #C0C0C0;
	color: black;
	margin: 10px;
	}

/* This gets rid of the bottom margin in Mozilla 1.0rc2.  Without this
  we have to make the window a little too big to avoid a scrollbar. */
FORM {
	margin: 0pt;
	}

/* Button for visible pane. */
INPUT.tabactive,BUTTON.tabactive {
	font-size: 8pt;
	font-weight: bold;
	background-color: beige;
	margin: 0pt;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #000000 black beige #000000;
	-moz-border-radius: 1mm 1mm 0mm 0mm;
	}

/* Buttons for concealed panes. */
INPUT.tabinactive,BUTTON.tabinactive {
	font-size: 8pt;
	font-weight: normal;
	background-color: beige;
	margin: 0pt;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #000000 black #000000 #000000;
	-moz-border-radius: 1mm 1mm 0mm 0mm;
	}

/* Buttons that are supposed to look like buttons and a <span> containing a hyperlinks
   that looks like a button.  We use it for the [Help] button. 
   */
INPUT.buttons,BUTTON.buttons,SPAN.buttons {
	background-color: #b0b0b0;
	vertical-align: middle; /* IE 6 doesn't like baseline */
	border: 2px solid;
	border-color: #f0f0f0 #808080 #808080 #f0f0f0;
	padding: 3px 2mm 3px 2mm;
	margin: 0mm 2mm 0mm 0mm;
	}
SPAN.buttons A {
	color: black;
	text-decoration: none;
	font-family: sans-serif;
	}

/* Tables of this class form the background for tabbed dialog boxes. */
TABLE.tabpage {
	background-color: beige;
	margin: 0;
	border-style: solid;
	border-color: black black black #000000;
	border-width: 0px 1px 1px 1px;
	}

/* All of the text printed by the page procedure goes inside a table data
   cell of this type. */
TABLE.tabpage TD {
	line-height: 12pt;
	font-size: 10pt;
	font-weight: normal;
	font-family: times,serif;	/* IE 5.5 prior to SP1 manges serif */
	}

TABLE.tabpage P {
	margin-top: 0pt;
	margin-bottom: 5pt;
	}

/* Text input fields. */
INPUT {
	background-color: white;
	font-weight: normal;
	}

/* This is for error messages. */
SPAN.alert {
	color: blue;
	}

/* This is for form field labels. */
SPAN.label {
	font-weight: bold;
	}

/* This is for value which should like like form text
   fields but aren't.
   */
SPAN.value {
	font-weight: normal;
	font-size: 12pt;
	font-family: sans-serif;
	background-color: white;
	border-style: solid;
	border-width: thin;
	border-color: black;
	padding: 1pt 2pt 1pt 2pt;
	}

TEXTAREA {
	font-size: 10pt;
	font-family: sans-serif;
	}

/* A DIV and SPAN of class "section" are used to enclose controls
   in a labeled box.  The SPAN goes inside the DIV.  The SPAN
   holdes the label text.
   */
DIV.section {
	position: relative;		/* <-- necesary for parenthood */
	border: thin solid black;
	padding: 10pt;
	margin-top: 15pt;		/* we stick out at the top */
	margin-bottom: 5pt;		/* don't crowd the next thing */
	}
DIV.section SPAN.section_label {
	position: absolute;
	top: -9pt;
	left: 10pt;
	background-color: beige;
	font-weight: bold;
	border: thin solid black;
	padding: 0ex 1ex 0ex 1ex;
	}

/* This is the table that puts the PPD list on the left and the
   summary of the PPD file on the right.
   */
TABLE.ppd TD {
	padding-right: 10pt;
	text-align: left;
	vertical-align: top;
	}

/* This is for real tables with fine rules. */
TABLE.lines {
	background-color: white;
	border: solid black;
	border-width: 1px 0px 0px 1px;
	}
TABLE.lines TH, TABLE.lines TD {
	text-align: left;
	padding: 3pt;
	border: solid black;
	border-width: 0px 1px 1px 0px;
	}
TABLE.lines TH {
	white-space: nowrap;
	}

/* end of file */
