/*
** mouse:~ppr/src/www/prn_control.css
** Last modified 8 August 2003.
*/

BODY {
	background-color: #ffff00;	/* yellow */
	color: black;
	/* We set this so that window size and <body> size are the
	   This lets the JavaScript code that snaps the window size
	   to the document size work predictable. */
	margin: 0px;
	}

SPAN.label { font-weight: bold }
SPAN.blank { backgroup-color: white; color: blue }

/* printer status table: labels are in <th>, values are in <td> */
TD TABLE TH {
	font-weight: bold;
	vertical-align: top;
	}
TD TABLE TD {
	font-weight: normal;
	background-color: white;
	border-color: black; border-style: solid; border-width: thin;
	}

TD.right_buttons {
	line-height: 200%;
	}

TEXTAREA.alerts { font-size: 8pt; }

INPUT.buttons,BUTTON {
	background: #b0b0b0;
	padding: 1px 3px 1px 3px;
	margin: 2pt;
	}

IMG {
	border-color: black;
	border-width: 1pt;
	border-style: none;
	}

IMG.left { border-style: solid none solid solid; }
IMG.middle { border-style: solid none solid none; }
IMG.right { border-style: solid solid solid none; }

SPAN.sent	{ color: red; }
SPAN.unsent	{ color: blue; }

SPAN.completed	{ }
SPAN.started	{ color: red; }
SPAN.unstarted	{ color: blue; }

/* end of file */
