/*
** mouse:~ppr/src/www/show_jobs.css
** Last modified 21 April 2004.
*/

BODY {
	background: lightblue;
	color: black;
	font-family: sans-serif;
	font-size: 10pt;
	}

/* These are for the queue display table. */
TABLE.queue {
	width: 99%;
	border-style: solid;
	border-color: black;
	margin: 2pt;
	}
TABLE.queue THEAD TH {
	font-size: 10pt;
	font-family: times,serif;	/* IE 5.5 prior to SP1 manges serif */
	font-weight: bold;
	border-color: lightblue;
	border-style: outset;
	border-width: thin;
	padding: 0pt 5pt 0pt 5pt;
	}

/* IE 5.5 stupidly passes the height of <TBODY> on to <TR>. */
TABLE.queue TBODY TR {
	height: 14pt;
	}

TABLE.queue TBODY TH, TABLE.queue TBODY TD {
	font-size: 10pt;
	font-family: sans-serif;
	font-weight: normal;
	border-color: black;
	border-style: none none dotted none;
	border-width: 1px;
	padding: 0pt 5pt 0pt 5pt;
	}

TABLE.queue TR.checked TD {
	color: white;
	background: steelblue;
	}

/* This is for the [Settings] screen. */
HR.sep {
	align: left;
	width: 10cm;
	height: 0pt;
	border-style: solid none none none;
	border-width: thin;
	border-color: black;
	margin: 0.5ex;
	}

/* This overrides elements of the menubar style. */
DIV.menubar_bottom {
	border-width: 1px 0px 0px 0px;
	}

/* end of file */
