/*
** mouse:~ppr/src/www/show_queues.css
** Last modified 10 December 2003.
*/

/* The <body> element of the main window uses this class.  This is so that
   we can change its appearance without changing the appearance of
   layers.
   */
BODY {
	background: white;
	color: black;
	font-family: sans-serif;
	}

/* I guess setting the body font doesn't cover tables. */
TABLE TD {
	font-family: sans-serif;
	}

/* Normal link behaviour makes little sense in this context. */
A {	font-weight: normal;
	color: black;
	text-decoration: none;
	}

/* Try to make buttons gray. */
INPUT.buttons,BUTTON.buttons
	{
	background: #b0b0b0;
	margin: 0pt;
	padding: 2pt;
	vertical-align: bottom;
	//padding-left: -0.5cm;
	}

/* This is used to set button bars off from the rest of the page. */
DIV.menubar {
	width: 100%;
	padding: 2pt;
	margin 0pt;
	border: solid black;
	border-width: 0px 0px 1px 0px;
	background-color: #d0d0d0;
	}

/* Popup menu */
DIV.popup {
	visibility: hidden;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	padding: 5mm;
	background-color: transparent;
	}
DIV.popup TABLE {
	background: #d0d0d0;
	border-width: 2px;
	border-style: outset;
	}
DIV.popup TABLE TD {
	border: none;
	}
DIV.popup TABLE TD A {
	display: block;
	width: 100%;
	padding: 1pt 5pt 1pt 5pt;
	}
DIV.popup TABLE TD A:hover {
	background-color: #808080;
	color: #d0d0d0;
	}

/* This is used for form element labels. */
SPAN.label { font-weight: bold; }

/* queue name */
SPAN.qname { font-weight: bold; }

/* queue comment */
SPAN.qcomment { }

/* number of jobs */
SPAN.qjobs { color: brown; }

/* address */
SPAN.qaddress { font-family: monospace; }

/* end of file */

