/*
** mouse:~ppr/src/www/show_jobs.css
** Last modified 8 May 2002.
*/

BODY {
	background: lightblue;
	color: black;
	}

/* This is for the control bar above the queue display. */
DIV.menubar {
	width: 100%;
	padding: 2pt;
	margin-top: 2pt;
	margin-bottom: 2pt;
	border-width: 1pt;
	border-style: raised;
	}

/* The table with the queue listing is 80% as high as the page. */
DIV.queue {
	/* overflow: auto; */
	margin-top: 2pt;
	margin-bottom: 2pt;
	}

/* This is for the queue display table. */
TABLE.queue {
	width: 100%;
	border-style: solid;
	border-color: black;
	}

TABLE.queue THEAD TH {
	font-size: 10pt;
	font-family: times,serif;	/* IE 5.5 prior to SP1 manges serif */
	font-weight: bold;
	border-color: lightblue;
	border-style: outset;
	border-width: thin;
	padding: 0pt 5pt 0pt 5pt;
	}

TABLE.queue TBODY {
	/* height: 7cm; */
	overflow: auto;
	}

/* IE 5.5 stupidly passes the height of <TBODY> on to <TR>. */
TABLE.queue TBODY TR {
	height: 14pt;
	}

TABLE.queue TBODY TH, TD {
	font-size: 10pt;
	font-family: sans-serif;
	font-weight: normal;
	border-color: black;
	border-style: none none dotted none;
	border-width: 1px;
	padding: 0pt 5pt 0pt 5pt;
	}

TABLE.queue TR.checked TD {
	color: white;
	background: steelblue;
	}

/* This style is for form buttons. */
INPUT.buttons {
	background: #a0a0a0;
	}

/* This is for the [Settings] screen. */
HR.sep {
	align: left;
	width: 10cm;
	height: 0pt;
	border-style: solid none none none;
	border-width: thin;
	border-color: black;
	margin: 0.5ex;
	}

/* end of file */
