/*
** mouse:~ppr/src/www/show_queues.css
** Last modified 17 October 2005.
*/

/* Normal link behaviour makes little sense in this context. */
A {	font-weight: normal;
	color: black;
	text-decoration: none;
	}

/* queue name */
SPAN.qname {
	/* font-weight: bold; */
	}

/* queue comment */
SPAN.qcomment {
	}

/* number of jobs */
SPAN.qjobs {
	color: brown;
	}

/* address */
SPAN.qaddress {
	font-family: monospace;
	}

/* end of file */

