#
# uprint.conf.sample
# Last modified 18 November 2002.
#
# This file defines the locations of the various programs which
# comprise the LP and LPR spoolers.
#

# The normal locations for various spooler control programs on this OS.
[well known]
  lp = /usr/bin/lp
  lpstat = /usr/bin/lpstat
  cancel = /usr/bin/cancel
  lpr = /usr/bin/lpr
  lpq = /usr/bin/lpq
  lprm = /usr/bin/lprm

# The locations we will move them to if we will be using the
# uprint versions instead.
[sidelined]
  lp = /usr/bin/real-lp
  lpstat = /usr/bin/real-lpstat
  cancel = /usr/bin/real-cancel
  lpr = /usr/bin/real-lpr
  lpq = /usr/bin/real-lpq
  lprm = /usr/bin/real-lprm

# Information about the real lp programs (as opposed to the uprint look-alikes).
[real lp]

  # Should lp, lpstat, and cancel be renamed (if they exist) and be replaced
  # with symbolic links to uprint-lp, uprint-lpstat, and uprint-cancel?
  # If you change this, you should run ~ppr/bin/uprint-newconf to actually move
  # the lp programs to the new locations.
  sidelined = no

  # Is System V lp installed on this system?
  installed = no

  # Which variant of the System V spooler do we have?
  flavor = solaris

  # What directory should we look in to see if a printer or a class exists?
  # Solaris
  #printers = /etc/lp/printers
  #classes = /etc/lp/classes

# Information about the real lpr programs (as opposed to the uprint look-alikes).
[real lpr]

  # Should lpr, lpq, lprm, and lpc be renamed (if they exist) and be replaced
  # with symbolic links to uprint-lpr, uprint-lpq, uprint-lprm, and uprint-lpc?
  # If you change this, you should run ~ppr/bin/uprint-newconf to actually move
  # the lpr programs to the new locations.
  sidelined = no

  # Is BSD LPR (or a derivitive) installed on this system?
  installed = yes

  # What variant of LPR is installed?  The choices are:
  # bsd -- BSD 4.3
  # osf -- OSF (Digital Unix)
  # lprng -- LPR Next Generation
  flavor = bsd

# If a user doesn't supply a -d switch for uprint-lp or a -P switch for
# uprint-lpr and friends, which queue should be assumed?
[default destinations]
  uprint-lp = lp
  uprint-lpr = lp

# end of file
